html {
    height: 100%;
    width: 100%;
  }
  
  body {
    display: table;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .topnav {
    height: 50mm;
    background-color: #1F2937;
    
  }
  .menu {
    
     float: right;
     margin-right: 75px;
     display: block;
     padding: 40px;
     font-size: 14px;
     
   }
  .menu a {
    width: 33%;
  }

  a:link {
    text-decoration: none;
    color: #ffffff;
   
  } 
  a:visited {
    text-decoration: none;
    color: #ffffff;
  }
  }
  
  .row1 {
    display: table-row;
    height: 30mm; 
    background-color: #1F2937;

  }
  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: top;
    justify-content: center;
  }

  .box1 {
    border: 4px solid #3882F6;
    border-radius: 20px;
    width: 150px;
    height: 150px;
    margin: 20px;
  }

  .text1 {
      text-align: center;
      position: fixed;
    }
}
  .row2 {
    display: table-row;
    height: 50mm; 
    background-color:#ffffff;
  }
.heading2 {
  text-align: center;
}
  .row3 {
    display: table-row;
    height: 50mm; 
    background-color:#E5E7EB;
  }
  .row4 {
    display: table-row;
    height: 50mm; 
    background-color:#ffffff;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    line-height: 75px;
    background-color:#1F2937;
    color: white;
    text-align: center;
  }